*{
    font-family: Segoe UI;
}
.identer-container{
    margin: auto;
    overflow-y:auto; 
    
}
 .header{
   font-family: 'Quicksand', sans-serif; 
}
.form-table-field{
    float:right;
    width:73%;
        
}

.container-h1{
    color: white;
}

.input-field{
    width: 98%;
    background: white;
    height: 30px;
    margin-top:5px;
    border: 0;
    outline: 0;
    border-bottom:1px solid orange;
    border-left:1px solid orange;
    border-radius: 1px 10px;
    background: linear-gradient(white,white,white,white,white,orange);
}


.input-field:hover{
    background: white;
}

#indenter-form-submit,#indenter-form-reset{
    background: darkorange;
    border: 0px solid black;
    height: 30px;
        
}